.add-waiter-data-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.add-waiter-name {
    width: 40%;
}

.add-waiter-card-number {
    width: 55%;
}