.main-page {
    width: 100%;
    height: calc(100vh - 80px);
    background: #F1F1F1;
    display: flex;
    justify-content: center;
}

.main-page-wrapper {
    width: 800px;
}

.main-page-paper {
    /*height: 100%;*/
    margin-top: 20px;
    padding: 15px;
}

.main-page-paper-actions {
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
}

.main-page-button-wrapper {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.main-page-card-block-wrapper {
    margin-top: 15px;
}

.main-page-card-input-wrapper {
    margin-top: 15px;
    display: flex;
    justify-content: center;
}

.main-page-save-card-button-wrapper {
    margin-left: 20px;
    margin-top: 10px;
}